namespace Auction.API.Models;
public class Env
{
    // Variáveis para conexão com o banco de dados
    public static string ip = "";
    public static string porta = "";
    public static string banco = "";
    public static string usuario = "";
    public static string senha = "";
}